body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  color: #333;
  margin: 2rem;
}

h1 {
  color: #006400;
}

.seat-map {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.stage {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.stage-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  /* border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
}

.seat {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: default;
}

.selected {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}
